/* import fonts from font.css */
@import url(./font.css);


/* css variables */
@import url(./partials/variables.css);

/* import global styling */
@import url(./partials/_global.css);

body {
    background-color: rgb(17, 7, 32);
  }

/* start navigation */
 .header_area .main-menu .navbar .navbar-brand{
     padding: 0 0rem 0 0rem;

 }

 .header_area .main-menu .navbar{
     padding: 1rem 1rem ;
 }
 
 .header_area .main-menu .nav-item .nav-link{
     font: normal 500 15px/2px var(--roboto);
     text-transform: uppercase;
     padding: 1.1rem;
     color: var(--title-color);

 }

 .header_area .main-menu .navbar-nav a:hover{
     background-color: white;
 }

 


  

/* end navigation */

/* Banner area */


.site-main .site-banner .site-title h3{
    padding-top: 45%;
    font-weight: 500;
    color: white;
}


.site-main .site-banner .site-title h1{
    font-weight: 700;
    font-size: 5rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.site-main .site-banner .site-title h4{
    font-weight: 500;
    color: white;
}


.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: aqua;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .banner-image >img {
    padding: 7rem 0;
    width: 90rem;
}

.site-main .site-banner .site-title .site-buttons{
    padding-top: 5%;
}






/* End Banner area */